


.DashboardSection{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(161, 161, 161, 0.137);
    */background-color: transparent;
    min-height: 100vh;
    position: relative;
}

.DashboardSection .message{
    border: 1px solid rgb(144, 144, 150);
    position: fixed;
    top: 7em;
    z-index: 100;
    padding: 1em;
    border-radius: 0.5em;
    background-color: white;
    color: yellow;
    font-weight: 800;
    filter: opacity(0.98);
    text-align: center;
    width: 20em;
    /*transition: 1s;
    */animation-name: disapear;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-direction: normal;
    animation-fill-mode:both;
}

@keyframes disapear {
    from{
        filter: opacity(0.98);
    }
    to{
        opacity: 0;
    }
}

.DashboardSection .add{
    font-family: "poppins-bold";
    border: 0;
    outline: 0;
    position: absolute;
    top: -2%;
    left: -2%;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 2em;
    background: linear-gradient(to right,rgb(0, 162, 255),rgb(133, 135, 136));
    transition: .5s;
    box-shadow: 0 0 5px black;
}

.DashboardSection .add:hover{
    transform: rotate(45deg) scale(1.05);
}

.DashboardSection table{
    position: relative;
    border-collapse: collapse;
    width: 60%;
    background-color: white;
    border-radius: 0.5em;
    
}

.DashboardSection table thead{
    background: linear-gradient(to right,rgba(252, 231, 203, 0.986),rgba(255, 122, 13, 0.815),rgba(151, 39, 146, 0.562),rgba(221, 10, 158, 0.938));
}


.DashboardSection table td,th{
    padding: 0.5em;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 12.5%;
    overflow-y: hidden;
}


.DashboardSection table th{
    color: rgb(68, 68, 68);
}

.DashboardSection table tbody td{
    position: relative;
    color: rgb(0, 0, 0);
}


.DashboardSection table .hour{
    color: black;
    font-family: "poppins-thin";
    width: 15%;
    text-align: center;
}

.DashboardSection table tbody img{
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    border-radius: 3px;
    padding: 2px;
}

.DashboardSection table tbody td img:nth-child(2){
    background-color: rgb(0, 226, 170);
    border: 1px solid grey;
    left: 0;
    bottom: 0;
}
.DashboardSection table tbody td img:nth-child(3){
    background-color: rgb(240, 20, 20);
    right: 0;
    bottom: 0;
}


@media  screen and (max-width:750px){

    .DashboardSection table{
        width: 90%;
    }

    .DashboardSection table .hour{
        font-family: "poppins-thin";
        padding: 0;
        font-size: 15px;
    }
    
}

@media screen and (max-width: 375px){
    
    .DashboardSection {
        width: 100%;
        margin: 0;

    }

    .DashboardSection table{
        width: 95%;
        flex-direction: column;
    }


    .DashboardSection table td,th{
        padding: 0;
    }

    .DashboardSection table .hour{
        width: 15%;
        padding: 2%;
    }

}