.Header{
    height: 3em;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0;
    background-color: white;
    width: 20%;
    height: 95%;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 2px; 
    box-shadow: 1px 3px 10px rgb(34, 33, 33);
    z-index: 200;
    overflow: hidden;
}

.Header h1{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color1);
    margin-bottom: 1em;
}

.Header h1 img{
    margin: 0;
    width: 1.75em;
    height: 2em;
    width: 1em;
}

.Header .register{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.profile{
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.profile span{
    box-shadow: 1px 1px 5px gray;
    padding: 1em;
    border-radius: 0;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgb(255, 116, 2);
    border-radius: 2em;
    text-transform: uppercase;
}

.options{
    width: 100%;
    height: 7em;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options li{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 45%;
    font-weight: 900;
    font-size: 1em;
    padding-left: 1em;
    position: relative;
    transition: .75s;
    border-radius: 1em;
    cursor: pointer;
}

.options li:hover{
    background-color: rgb(197, 12, 197);
}

.options li img{
    width: 2em;
}

.options li div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.options li .circle{
    position: absolute;
    right: -1.95em;
    width: 4em;
    height: 4em;
    border-radius: 100%;
}

.options li:first-child .circle{
    transition: 0;    
} 



@media screen and (max-width: 1156px){
    
    .Header h1{
        font-size: 25px;
    }

    .Header .register {
        width: 7em;
    }
}


@media screen and (max-width:832px){
    
    .Header{
        width: 95%;
        left: 2.5%;
    }

}



@media screen and (max-width: 375px){
    
    .Header{
        left: 0;
        width:100%;
        border-radius: 1em;
    }

    .Header h1{
        font-size: 25px;
    }

    .Header .register {
        width: 7em;
        font-size: 12px;
    }

}