.popUpPrintTasks{
    position: absolute;
    top: 0;
    z-index: 99;
    width: 50%;
    padding: 1em;
    background-color: transparent;
    height: 20em;
}

.popUpPrintTasks .previous,.next{
    position: absolute;
    width: 4em;
    height: 4em;
    z-index: 102;
    top: 50%;
    border-radius: 100%;
    transition: .1s;
    opacity: .9;
}

.popUpPrintTasks img:hover{
    transform: scale(1.1);
}

.popUpPrintTasks .previous{
    left: 0;
}
.popUpPrintTasks .next{
    right: 0;
}


.popUpPrintTasks .content{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: auto;
    behavior: smooth;
    scrollbar-width: none;
}



.popUpPrintTasks .scroll{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    padding: 0;
}

.popUpPrintTasks .task{

    display: inline-block;
    border: 0;
    width: 14em;
    padding: 0.5em;
    border-radius: 0.75em;
    /*background-color: rgb(0, 194, 136);
    */background-color: var(--blue1);
    margin: 0.5em;
    box-shadow: 1px 1px 12px rgba(17, 17, 17, 0.644);
    height: 18em;
    position: relative;
}

.popUpPrintTasks .task h5{
    color: white;
    font-family: "poppins-bold";
    margin-top: 0.5em;
    font-weight: bold;
}

.popUpPrintTasks .task p,li,ul{
    font-size: 15px;
    line-height: 15px;
    color: rgb(48, 47, 47);
    font-weight: 500;
}

.popUpPrintTasks .task p{
    padding-left: 1em;
}

.popUpPrintTasks .task ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    gap: 5px;
    height: 15%;
}

.popUpPrintTasks .task .description{
    height: 30%;
    overflow-y: auto;
}

.popUpPrintTasks .task img{
    position: absolute;
    top: 0.25em;
    right: 0.5em;
    transition: .1s ease-in;
}

.popUpPrintTasks .task img:hover{
    transform: scale(1.1);
}

.popUpPrintTasks .task .edit{
    right: 2.5em;
}

.popUpPrintTasks .task .time{
    display: flex;
    justify-content: space-between;
}

.popUpPrintTasks .task .time span{
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
    align-items: center;
}

.popUpPrintTasks .task .time span *{
    padding: 0;
    margin: 0;
}

.popUpPrintTasks .task .time span:first-child{
    width: 52%;
    display: flex;
    justify-content: space-between;
}

.popUpPrintTasks .task .time span:last-child{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 652px){
    
    .popUpPrintTasks {
        width: 80%;
    }

}