
.Profile{
    position: absolute;
    top: -2em;/*25%*/
    left: 40%;
    width: 35%;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 1px 1px 5px rgb(223, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Profile h2{
    margin-bottom: 1em;
}

.Profile p{
    display: flex;
    align-items: center;
    height: 3em;

}

.Profile input{
    display: inline-block;
    width: 75%;
    height: 100%;
    margin-left: 0.5em;
    background-color: rgb(241, 237, 237);
    color: black;
    font-weight: 700;
    border: 0;
    outline: 0;
    padding-left: 1em;
    text-transform: uppercase;
}

.Profile :nth-child(4) input{
    text-transform: lowercase;
}

.Profile label{
    font-size: 14px;
    height: 100%;
    width: 25%;
    display: inline-block;
    color: rgb(180, 180, 180);
    font-family: 'poppins';
    display: flex;
    align-items: center;
}

.Profile .buttons{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Profile .buttons button{
    padding: 0.6em;
    height: 3em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(211, 209, 209);
    border: 0;
    border-radius: 5px;
}

.Profile .buttons button:first-child{
    background-color: red;
}

.Profile .buttons button:last-child{
    background-color: rgb(0, 180, 0);
}

.Profile .buttons button img{
    margin-right: 0.5em;
}

/*======================================================*/


.updateUser{
    background-color: blue;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 5px;
}

.updateUser img{
    border: 1px solid red;
    width: 2em;
    position: absolute;
    top: 0;
    left: 0;
}

.updateUser form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updateUser form input{
    margin: 0.5em;
    padding: 1em 0 1em 1em;
}

.updateUser form button{
    width: 35%;
    height: 2.5em;
    font-size: 0.85em;
    font-weight: bold;
    border: 0;
    outline: 0;
    background-color: rgb(161, 4, 161);
    border-radius: 5px;
    margin-bottom: 5px;
}

.updateUser form input[type="email"]{
    text-transform: lowercase;
}