


.Login{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(46, 44, 44, 0.479),rgba(0, 0, 0, 0.24)),url("/bg2.jpg");
    background-size: cover;
    background-position: center;
}

.Login form{
    display: flex;
    flex-direction: column;
    width: 22em;
    height: 25em;
    padding: 2em 3em 2em 3em;
    border-radius: 5px;
    background: rgba(46, 44, 44, 0.849);
}

.Login form h1{
    font-size: 40px;
    margin-bottom: 0.25em;
}

.Login form input{
    height: 3.25em;
    padding-left: 1em;
    border: 0;
    outline: 0;
    background-color: rgb(78, 78, 77);
    margin-bottom: 0.5em;
    border-radius: 0.25em;
}

.Login form .submit{
    margin-top: 1em;
    text-align: center;
    padding: 0;
    background-color: rgb(255, 30, 0);
    font-weight: bold;
    font-size: 15px;
    transition: .5s;
}

.Login form .submit:hover{
    transform: scale(0.95);
    background-color: rgb(255, 9, 9);
}

.Login form .already span{
    font-size: 15px;
}

.Login form .already a{
    text-decoration: none;
    color: rgba(72, 72, 248, 0.938);
    font-weight: 600;
}

.Login .errors{
    color: red;
    padding-left: 0.5em;
    max-height: 3em;
    font-size: small;
    left: 15%;
    top: 16em;
}