:root{
  --color1: #1405eb;
  --color2: #999797;
  --bg1: hsl(286, 100%, 23%);

  --priority1: rgb(12, 245, 12);
  --priority2: rgba(255, 255, 0, 0.904);
  --priority3: rgb(248, 0, 0);

  --green1: #4ab34c;
  --green2: #002e0D;
  --red1: #ff9563;
  --red2: #a04042;
  --yellow1: #f8df51;
  --yellow2: #adae70;
  --blue1: #4e88a0;
  --blue2: #89b1cb;
  --grey: #707070;

  /*background-color: var(--blue2);*/
}


*{
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

button,input[type="submit"]{
  cursor: pointer;
}

@font-face {
  font-family: "poppins";
  src: url("./assets/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-thin";
  src: url("./assets/Poppins-Thin.ttf");
}

@font-face {
  font-family: "poppins-bold";
  src: url("./assets/Poppins-Black.ttf");
}